<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Talknity"
        tools:targetApi="31">
        <activity
            android:name=".DiscussionsActivity"
            android:exported="false"
            android:label="@string/title_activity_discussions"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.SelectedCategoryCommunityListActivity"
            android:exported="false"
            android:label="@string/title_activity_selected_category_community_list"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.Talknity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.CommunityCategoriesActivity"
            android:exported="true"
            android:label="@string/title_activity_community_categories"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.IndividualDiscussionActivity"
            android:exported="true"
            android:label="@string/title_activity_individual_post"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.CreateDiscussionActivity"
            android:exported="true"
            android:label="@string/title_activity_create_post"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.CommunityActivity"
            android:exported="true"
            android:label="@string/title_activity_community"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.CreateCommunityActivity"
            android:exported="false"
            android:label="@string/title_activity_create_community"
            android:theme="@style/Theme.Talknity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.ProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Talknity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>